header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
  
/* Estilos para a DIV 1 */
#div1 {
    display: none;
    align-items: center;
    height: 80px;
    background-color: #333;
}
  
  
#div1 .logo {
    display: flex;
    align-items: center;
 }
  
#div1 .logo img {
    height: 150px;
}
  
#div1 .info h1 {
    font-size: 24px;
    margin: 0;
    color: white;
}
  
#div1 .info p {
    font-size: 14px;
    margin: 5px 0 0 0;
    color: white;
}
  
#div1-1 {
    display: none;
}
  
#div1-1 {
    align-items: center;
    height: 50px;
    color: #fff;
}
  
#div1-1 .language {
    display: flex;
    justify-content: flex-end;
}
  
#div1-1 .language button {
    margin-left: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 20px;
}
  
#div1-1 .links {
    white-space: nowrap;
    overflow: visible;
    margin-right: 0;
}
  
#div1-1 .links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}
  
#div1-1 .links a:last-child {
    margin-right: 0;
}

@media (orientation: landscape) {
    #div1-1 {
        display: block;
    }
}

/*regra para celulares*/
@media (max-width:778px) {
    #div1 {
        display: flex;
    }
  
    #div1-1 {
        display: none;
    } 
}

/*Regra para desktops*/
@media (min-width: 768px) and (max-width: 1279px) {
    #div1 {
        display: flex;
    }
}
  
/* Regra para TVs */
@media (min-width: 1280px) {
    #div1 {
        display: flex;
    }
}

#div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: #801010;
    color: #fff;
}

#div2 ul {
    display: flex;
    align-items: center;
    list-style: none; /* Remove o estilo padrÃ£o da lista */
    padding-left: 10px;
}
  
#div2 ul li {
    padding-right: 10px;
}
  
#div2 ul li a {
    color: #fff; /* Define a cor do texto dos links como branco */
    text-decoration: none; /* Remove o sublinhado dos links */
}
  
#div2 div {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#div2 input {
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    padding: 3px;
}
  
#div2 button {
    background-color: transparent;
    color: #fff;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 3px;
}

/* Para dispositivos com largura menor ou igual a 768px (tamanho de tela de um celular em retrato) */
@media (max-width: 768px) {
    #div2 {
        display: flex;
        align-items: center;
        height: auto;
        background-color: #801010;
        padding: 10px;
    }
  
    #div2 ul li {
        display: block;
        margin-bottom: 10px;
    }
  
    #div2 form {
        display: block;
        padding: 10px;
        width: 100%; /* Adiciona 100% de largura para preencher a largura do pai */
    }
  
    #div2 input[type="text"], #div2 button {
        display: block;
        width: 100%; /* Adiciona 100% de largura para preencher a largura do pai */
    }
}

.div3 {
    width: 100%;
    height: 300px;
    display: flex;
}
  
.div3 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media (max-width: 768px) {
    .div3 {
        height: 200px;
    }
}

.div4 {
    display: flex;
    margin: 20px;
}

.left-section {
    flex: 2;
    margin-right: 20px;
    width: 70%;
}
  
.section-title {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
  
.section-title h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
}

.car-info {
    display: flex;
    margin-bottom: 20px;
}
  
.car-image {
    flex: 1;
    margin-right: 20px;
}
  
.car-image img {
    width: 100%;
}
  
.car-description {
    flex: 2;
}
  
.car-description p {
    font-size: 16px;
    line-height: 1.5;
}
  
.car-buttons {
    margin-top: 20px;
    display: flex;
}
  
.car-buttons button {
    background-color: #f90;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.popular-models {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.popular-models .model {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
    text-align: center;
}
  
.popular-models .model img {
    width: 100%;
}
  
.popular-models .model p {
    margin-top: 10px;
    font-size: 16px;
}

@media (max-width: 582px) {
    .div3 {
        height: 250px;
    }

    .car-info {
        display: initial
    }

    .popular-models .model {
        flex-basis: initial;
    
    }

    .model {
        height: 100px;
    }

    .popular-models .model {
        margin-bottom: 200px;
        text-align: center;
    }
}

.user-reviews {
    margin-top: 20px;
}
  
.user-reviews h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
  
.user-reviews .review {
    margin-bottom: 20px;
}
  
.user-reviews .review p {
    font-size: 16px;
    line-height: 1.5;
}
  
.user-reviews .reviewer {
    font-style: italic;
}

.right-section {
    width: 30%;
    align-items: center;
}
  
.social-button {
    margin-bottom: 20px;
}
  
.social-button button {
    background-color: #f90;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.video {
    margin-bottom: 20px;
}

.share-links {
    margin-bottom: 20px;
  }

@media (max-width: 768px) {
    .div4 {
        flex-direction: column;
        align-items: center;
    }
  
    .left-section {
        width: 100%;
        margin-right: 0;
    }
  
    .right-section {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#div5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subdivisao {
    flex-basis: 30%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.verde {
    border: 1px solid green;
}
  
.azul {
    border: 1px solid blue;
}
  
.amarelo {
    border: 1px solid yellow;
}

h2 {
    margin-top: 0;
    font-size: 28px;
  }
  
p {
    margin-bottom: 0;
    text-align: justify;
}

@media (max-width: 768px) {
    .subdivisao {
        flex-basis: 100%;
    }
}

.div6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f0f0f0;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  
.comment-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.comment-form textarea,
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
  
.comment-form textarea {
    height: 100px;
}
  
.comment-form input[type="text"],
.comment-form input[type="email"] {
    width: 100%;
 }
  
.comment-form button {
    background-color: #008080;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
.comment-form button:hover {
    background-color: #006666;
}

@media (max-width: 768px) { /* Estilos para dispositivos móveis */
    .comment-form {
        width: 100%;
        padding: 10px;
    }
}

.div7 {
    padding: 20px;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}
  
.div7 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.avaliacao {
    display: flex;
    margin-bottom: 20px;
}
  
.avaliacao img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
  
.texto-avaliacao h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.texto-avaliacao p {
    margin-bottom: 10px;
    text-align: justify;
}
  
.classificacao {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
  
.estrela {
    font-size: 24px;
    color: #FFC107;
    margin-right: 5px;
}
  
.data {
    margin-left: auto;
}
  
.carregar-mais {
    display: block;
    margin-left: 80%;
    margin-top: 20px;
}

/* Para dispositivos com largura menor ou igual a 768px (tamanho de tela de um celular em retrato) */
@media (max-width: 768px) {
    .avaliacao {
        flex-direction: column; /* Altera para linha em dispositivos com largura maior que 768px */
    }

    .carregar-mais {
        margin-left: 0%;
        margin-top: 20px;
    }
}

@media (orientation:portrait) {
    .avaliacao {
        flex-direction: column;
    }
  
}

.div8 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
  
.novidades,
.sobre {
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}
  
.novidades h2 {
    text-align: left;
}
  
.materia {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.materia img {
    max-width: 150px;
    max-height: 100px;
}
  
.texto-materia {
    margin-left: 20px;
    text-align: justify ;
}
  
.botoes-materia button {
    margin-right: 10px;
}
  
.sobre h2,h3{
    text-align: justify;
}
  
.equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
  
.membro {
    display: flex;
    align-items: center;
    margin: 10px;
}
  
  
.membro img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
  
.redes-sociais {
    display: flex;
    margin-top: 20px;
}
  
.redes-sociais a {
    margin: 0 10px;
}
  
.redes-sociais img {
    max-width: 50px;
    max-height: 50px;
}
  
@media (max-width: 768px) { /* Estilos para dispositivos móveis */
    .div8 {
      flex-direction: column;
    }
    
    .novidades,
    .sobre {
        width: 100%;
        margin: 20px;
    }
}
  
#div9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
}
  
.buy-links,
.company-info,
.services {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
  
.buy-links h3,
.company-info h3,
.services h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
  
.buy-links ul,
.company-info .news ul,
.company-info .help ul,
.company-info .about ul,
.services ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.buy-links li,
.company-info .news li,
.company-info .help li,
.company-info .about li,
.services li {
    margin-bottom: 10px;
}
  
.buy-links a,
.company-info .news a,
.company-info .help a,
.company-info .about a,
.services a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
  
.buy-links a:hover,
.company-info .news a:hover,
.company-info .help a:hover,
.company-info .about a:hover,
.services a:hover {
    color: #008080;
}

@media screen and (max-width: 600px) {
    #div9 {
      flex-direction: column;
      align-items: center;
    }
  
    .buy-links,
    .company-info,
    .services {
        max-width: 100%;
        margin: 10px 0;
    }
}

/* Estilos para desktop */

.site-footer {
    background-color: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
}
  
.site-footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
  
.site-footer p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
}
  
.site-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
}
  
.site-footer ul li {
    margin-bottom: 10px;
}
  
.redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.redes-sociais a {
    display: inline-block;
    margin: 0 10px;
}
  
.redes-sociais img {
    max-width: 40px;
    height: auto;
}
  
.bottom-footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}
  
.bottom-footer p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    text-align: center;
}
  
/* Estilos para dispositivos móveis */
  
@media screen and (max-width: 767px) {
    .site-footer {
        padding: 20px;
    }
  
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .col-md-4 {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        text-align: center;
    }
  
    .redes-sociais {
        margin-top: 10px;
    }
    
    .redes-sociais a {
        margin: 0 8px;
    }
    
    .redes-sociais img {
        max-width: 30px;
    }
    
    .site-footer h3,
    .site-footer p,
    .site-footer ul li,
    .bottom-footer p {
        text-align: center;
    }
}